/* Styles générés automatiquement par SUPERSITE - HTML / CSS4 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap');

:root {
  --primary-color: #C5A880;
  --secondary-color: #12151A;
}

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

